{% extends "layout/_ampleadmin-admin.html" %}
{% block head-title %}
    <title>Detail Kelas</title>
{% endblock %}
{% block head-description %}
    <meta name="description" content="Detail Kelas">
{% endblock %}
{% block ampleadmin-content-breadcrumb %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Kelas</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li>
                    <a href="javascript:void(0)">Kelas</a>
                </li>
                <li>
                    <a href="/kelas">List</a>
                </li>
                <li class="active">Detail</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock ampleadmin-content-breadcrumb %}
{% block ampleadmin-content-main %}
    <div class="row">
        <div class="col-md-9 col-lg-9 col-sm-7">
            <div class="panel panel-info">
                <div class="panel-heading"> {{ data.kelas.detail.jumlahdokumen }} Dokumen</div>
                <div class="panel-wrapper collapse in" aria-expanded="true">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table product-overview">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>User</th>
                                    <th>Dokumen</th>
                                    <th style="text-align:center">Fitur 1</th>
                                    <th style="text-align:center">Fitur 2</th>
                                    <th style="text-align:center">Fitur 3</th>
                                    <th style="text-align:center">Fitur 4</th>
                                    <th style="text-align:center">State</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for dokumen in data.kelas.documents %}
                                    <tr>
                                        <td width="120">{{ dokumen.pub_date }}</td>
                                        <td width="100">{{ dokumen.user }}</td>
                                        <td width="300">
                                            <a href="/kelas/{{ data.kelas.detail.id }}/view_doc/{{ dokumen.id }}" target="_blank">
                                                <h5 class="font-500">{{ dokumen }}</h5></a>
                                        </td>
                                        <td width="150" align="center" class="font-500">
                                    <span class="counter text-danger"
                                          style="font-size: 20px">{{ dokumen.fitur1 }}</span>
                                        </td>
                                        <td width="150" align="center" class="font-500">
                                            <span class="counter text-warning" style="font-size: 20px">{{ dokumen.fitur2 }}</span>
                                        </td>
                                        <td width="150" align="center" class="font-500">
                                            <span class="counter text-danger" style="font-size: 20px">{{ dokumen.fitur3 }}</span>
                                        </td>
                                        <td width="150" align="center" class="font-500">
                                            <span class="counter text-warning" style="font-size: 20px">{{ dokumen.fitur4 }}</span>
                                        </td>
                                        <td width="100" align="center"><span
                                                class="label label-info m-r-10">{{ dokumen.state }}</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% if data.kelas.detail.jumlahdokumen == 0 %}
                                    <tr>
                                        <td width="150" class="font-500">
                                            Tidak ada dokumen
                                        </td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                            <hr>
                            <a href="/kelas/{{ data.kelas.detail.id }}/upload">
                                <div class="btn btn-info pull-right"> Upload
                                </div>
                            </a>
                            <a href="/kelas">
                                <div class="btn btn-default btn-outline">
                                    <i class="fa fa-arrow-left"></i>
                                    Back
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-5">
            <div class="white-box">
                <h3 class="box-title">{{ data.kelas.detail.namakelas }}</h3>
                {{ data.kelas.detail.keterangan }}
                <hr>
                <h2>{{ data.kelas.detail.jumlahmember }} Member</h2>
                <h2>{{ data.kelas.detail.jumlahdokumen }} Dokumen</h2>
                <hr>
                <a href="/kelas/{{ data.kelas.detail.id }}/edit">
                    <div class="btn btn-success">Edit Class</div>
                </a>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-5">
        </div>
    </div>
{% endblock %}
