{% extends "layout/_ampleadmin-admin.html" %}
{% block head-title %}
    <title>Detail Kelas</title>
{% endblock %}
{% block head-description %}
    <meta name="description" content="Detail Kelas">
{% endblock %}
{% block ampleadmin-content-breadcrumb %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Kelas</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li>
                    <a href="javascript:void(0)">Kelas</a>
                </li>
                <li>
                    <a href="/kelas">List</a>
                </li>
                <li class="active">Detail</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock ampleadmin-content-breadcrumb %}
{% block ampleadmin-content-main %}
    <div class="row">
        <div class="col-md-9 col-lg-9 col-sm-7">
        </div>
        <div class="col-md-3 col-lg-3 col-sm-5">
            <div class="white-box">
                <h3 class="box-title">{{ data.kelas.detail.namakelas }}</h3>
                {{ data.kelas.detail.keterangan }}
                <hr>
                <h2>{{ data.kelas.detail.jumlahmember }} Member</h2>
                <h2>{{ data.kelas.detail.jumlahdokumen }} Dokumen</h2>
                <hr>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-5">
        </div>
    </div>
{% endblock %}
