{% extends "layout/base.html" %}
{% block content %}
<div class="row" id="validation">
    <div class="col-12">
        <div class="white-box">
            <div class="card-body wizard-content">
                <h4 class="card-title">Create a Class</h4>
                <h6 class="card-subtitle">You must add class details and members</h6>
                <form action="#" class="validation-wizard wizard-circle m-t-40">
                    <!-- Step 1 -->
                    <h6>Class</h6>
                    <section>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="wfirstName2"> Name Class :
                                        <span class="danger">*</span>
                                    </label>
                                    <input type="text" class="form-control required" id="wfirstName2" name="firstName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="wlastName2"> Description :
                                        <span class="danger">*</span>
                                    </label>
                                    <input type="text" class="form-control required" id="wlastName2" name="lastName">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="wdate1"> Start Date :
                                        <span class="danger">*</span>
                                    </label>
                                    <input type="date" class="form-control" id="wdate1">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="wdate2"> End Date :</label>
                                    <input type="date" class="form-control" id="wdate2">
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Step 2 -->
                    <h6>Members</h6>
                    <section>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="members">Members :</label>
                                    <select id="members" class="select2 m-b-10 select2-multiple" multiple="multiple"
                                            data-placeholder="Choose" style="width: 100%;">
                                        <optgroup label="Admin">
                                            {% for admin in admins %}
                                            <option value="{{admin.id}}">{{admin.username}}</option>
                                            {% endfor %}
                                        </optgroup>
                                        <optgroup label="Staff">
                                            {% for staff in staffs %}
                                            <option value="{{admin.id}}">{{staff.username}}</option>
                                            {% endfor %}
                                        </optgroup>
                                        <optgroup label="User">
                                            {% for user in users %}
                                            <option value="{{admin.id}}">{{user.username}}</option>
                                            {% endfor %}
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
