{% extends "layout/_ampleadmin-auth.html" %}
{% load arraytag %}
{% load jsontag %}
{% block head-title %}
    <title>Recover</title>
{% endblock %}
{% block head-description %}
    <meta name="description" content="Recover">
{% endblock %}
{% block body-content %}
    <section id="wrapper" class="login-register">
        <div class="login-box login-sidebar" style="overflow-y: auto">
            <div class="white-box">
                <a href="javascript:void(0)" class="text-center db">
                    <img src="/static/admin/plugins/images/admin-logo-dark.png"
                         alt="Home"/>
                    <br/>
                    <img src="/static/admin/plugins/images/admin-text-dark.png"
                         alt="Home"/>
                </a>
                {% if message.notification %}
                    <div class="row">
                        <div class="col-md-12" style="padding: 16px 16px 0 16px">
                            {% for notif in message.notification %}
                                <div class="alert alert-{{ notif.level }} alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    {{ notif.msg }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <form class="form-horizontal form-material" id="recoverform" action="/recover" method="POST" style="display: initial">
                    {% csrf_token %}
                    <input type="hidden" name="token" value="{{ form.data.token|first_or_default:"" }}">
                    {% if form.errors.password %}
                        <div class="form-group has-error m-t-20">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" required name="password" placeholder="Password" value="{{ form.data.password|first_or_default:"" }}">
                                <span class="help-block">{{ form.errors.password|first_or_default:"" }}</span>
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group m-t-20">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" required name="password" placeholder="Password" value="{{ form.data.password|first_or_default:"" }}">
                            </div>
                        </div>
                    {% endif %}
                    {% if form.errors.password_conf %}
                        <div class="form-group has-error m-t-40">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" required name="password_conf" placeholder="Password" value="{{ form.data.password_conf|first_or_default:"" }}">
                                <span class="help-block">{{ form.errors.password_conf|first_or_default:"" }}</span>
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group m-t-40">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" required name="password_conf" placeholder="Confirm Password" value="{{ form.data.password_conf|first_or_default:"" }}">
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">
                                Recover
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
