{% extends "layout/_ampleadmin-admin.html" %}
{% block head-title %}
    <title>User</title>
{% endblock %}
{% block head-description %}
    <meta name="description" content="User">
{% endblock %}
{% block ampleadmin-content-breadcrumb %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">User</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li>
                    <a href="javascript:void(0)">Master</a>
                </li>
                <li class="active">User</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock ampleadmin-content-breadcrumb %}
{% block ampleadmin-content-main %}
    <div class="row">
        <div class="col-md-12">
            <div class="white-box p-0">
                <!-- .left-right-aside-column-->
                <div class="page-aside">
                    <!-- .left-aside-column-->
                    <div class="left-aside">
                        <div class="scrollable">
                            <ul class="list-style-none">
                                <li class="box-label">
                                    <a href="javascript:void(0)">All Users
                                        <span>{{ data.master.users.count }}</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                {% for group in data.master.groups %}
                                    <li>
                                        <a href="/user/{{ group.id }}">{{ group.name }}
                                            <span> {{ group.count }} </span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- /.left-aside-column-->
                    <div class="right-aside">
                        <div class="right-page-header">
                            <div class="pull-right">
                            </div>
                            <h3>User / Employee List </h3>
                        </div>
                        <div class="clearfix"></div>
                        <div class="scrollable">
                            <div class="table-responsive">
                                <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-paging="true"
                                       data-paging-size="5">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Joining date</th>
                                        <th>Last Login</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in data.master.users %}
                                        <tr>
                                            <td>{{ user.id }}</td>
                                            <td>
                                                <a href="javascript:void(0)">
                                                    {{ user.username }}</a>
                                            </td>
                                            <td>{{ user.email }}</td>
                                            <td>
                                                {% for group in user.group %}
                                                    <span class="label label-danger">{{ group.name }}</span>
                                                    <br>
                                                {% endfor %}
                                            </td>
                                            <td>{{ user.date_joined }}</td>
                                            <td>{{ user.last_login }}</td>
                                            <td></td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- .left-aside-column-->
                </div>
                <!-- /.left-right-aside-column-->
            </div>
        </div>
    </div>
{% endblock %}
