{% extends "layout/_ampleadmin.html" %}
{% block ampleadmin-css-addon %}
    {{ block.super }}
    <link href="/static/admin/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <link href="/static/admin/plugins/bower_components/morrisjs/morris.css" rel="stylesheet">
    <link href="/static/admin/plugins/bower_components/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="/static/admin/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <link href="/static/admin/plugins/bower_components/calendar/dist/fullcalendar.css" rel="stylesheet"/>
{% endblock ampleadmin-css-addon %}
{% block body-property %}
    <body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
{% endblock %}
{% block body-content %}
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% block ampleadmin-content-navbar %}
            {% include "layout/nav.html" %}
        {% endblock ampleadmin-content-navbar %}
        <!-- ============================================================== -->
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {% block ampleadmin-content-sidebar %}
            {% include "layout/sidebar.html" %}
        {% endblock ampleadmin-content-sidebar %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                {% block ampleadmin-content-breadcrumb %}
                {% endblock ampleadmin-content-breadcrumb %}
                {% block ampleadmin-content-main %}
                {% endblock ampleadmin-content-main %}
            </div>
            {% block ampleadmin-content-footer %}
                <footer class="footer text-center"> {% now "Y" %} &copy; FILKOM Universitas Brawijaya</footer>
            {% endblock ampleadmin-content-footer %}
        </div>

        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
{% endblock body-content %}
{% block body-js-lower-pre %}
    {{ block.super }}
    <script src="/static/admin/plugins/bower_components/raphael/raphael-min.js"></script>
    <script src="/static/admin/js/custom.min.js"></script>
    <script src="/static/admin/js/cbpFWTabs.js"></script>
{% endblock %}
{% block body-js-lower-post %}
    {{ block.super }}
    <script type="text/javascript">
        (function () {
            [].slice.call(document.querySelectorAll('.sttabs')).forEach(function (el) {
                new CBPFWTabs(el);
            });
        })();
    </script>
{% endblock %}
