<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head-meta %}{% endblock %}
    {% block head-title %}{% endblock %}
    {% block head-description %}{% endblock %}
    {% block head-property %}{% endblock %}
    {% block head-css-pre %}{% endblock %}
    {% block head-css-post %}{% endblock %}
    {% block head-js-pre %}{% endblock %}
    {% block head-js-post %}{% endblock %}
</head>
{% block body-property %}{% endblock %}
{% block body-css-upper-pre %}{% endblock %}
{% block body-css-upper-post %}{% endblock %}
{% block body-js-upper-pre %}{% endblock %}
{% block body-js-upper-post %}{% endblock %}
{% block body-upgrade-browser %}{% endblock %}
{% block body-content %}{% endblock %}
{% block body-css-lower-pre %}{% endblock %}
{% block body-css-lower-post %}{% endblock %}
{% block body-js-lower-pre %}{% endblock %}
{% block body-js-lower-post %}{% endblock %}
</body>
</html>
