<!-- jQuery -->
<script src="/static/admin/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/static/admin/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="/static/admin/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>

<!--slimscroll JavaScript -->
<script src="/static/admin/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="/static/admin/js/waves.js"></script>
<script src="/static/admin/plugins/bower_components/toast-master/js/jquery.toast.js"></script>
<script src="/static/admin/js/toastr.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/static/admin/js/custom.min.js"></script>
<!--Style Switcher -->
<script src="/static/admin/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
<!-- Custom Theme JavaScript -->
<script type="text/javascript">
    function simpleToastCall(arr)
    {
        for (var i = 0; i < arr.length; i++)
        {
            var msg = arr[i];
            $.toast({
                heading: ' ',
                text: 'msg' in msg ? msg.msg : '',
                position: 'top-right',
                loaderBg: '#ff6849',
                icon: 'level' in msg ? msg.level : 'info',
                hideAfter: 5000
            });
        }
    }

    if (c_msg_alrt)
    {
        simpleToastCall(c_msg_alrt);
    }
</script>
