<!-- jQuery -->
<script src="/static/app/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/static/app/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="/static/app/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
<!--slimscroll JavaScript -->
<script src="/static/app/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="/static/app/js/waves.js"></script>
<!-- Footable -->
<script src="/static/app/plugins/bower_components/moment/moment.js"></script>
<script src="/static/app/plugins/bower_components/footable/js/footable.min.js"></script>
<!-- Vector map JavaScript -->
<script src="/static/app/plugins/bower_components/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
<script src="/static/app/plugins/bower_components/vectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="/static/app/plugins/bower_components/vectormap/jquery-jvectormap-in-mill.js"></script>
<script src="/static/app/plugins/bower_components/vectormap/jquery-jvectormap-us-aea-en.js"></script>
<!-- chartist chart -->
<script src="/static/app/plugins/bower_components/chartist-js/dist/chartist.min.js"></script>
<script src="/static/app/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
<!-- sparkline chart JavaScript -->
<script src="/static/app/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="/static/app/plugins/bower_components/jquery-sparkline/jquery.charts-sparkline.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/static/app/js/custom.min.js"></script>
<script src="/static/app/js/dashboard3.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/static/app/js/custom.min.js"></script>
<script>
         // Row Toggler
        // -----------------------------------------------------------------
        $('#demo-foo-addrow').footable();

</script>
<!--Style Switcher -->
<script src="/static/app/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
