<!-- jQuery -->
<script src="/static/app/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/static/app/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="/static/app/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
<!--slimscroll JavaScript -->
<script src="/static/app/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="/static/app/js/waves.js"></script>
<script src="/static/app/plugins/bower_components/toast-master/js/jquery.toast.js"></script>
<script src="/static/app/js/toastr.js"></script>
<script type="text/javascript">
    //Alerts
    $(".myadmin-alert .closed").click(function(event) {
        $(this).parents(".myadmin-alert").fadeToggle(350);
        return false;
    });
    /* Click to close */
    $(".myadmin-alert-click").click(function(event) {
        $(this).fadeToggle(350);
        return false;
    });
    $(".showtop").click(function() {
        $(".alerttop").fadeToggle(350);
    });
    $(".showtop2").click(function() {
        $(".alerttop2").fadeToggle(350);
    });
    /** Alert Position Bottom  **/
    $(".showbottom").click(function() {
        $(".alertbottom").fadeToggle(350);
    });
    $(".showbottom2").click(function() {
        $(".alertbottom2").fadeToggle(350);
    });
    /** Alert Position Top Left  **/
    $("#showtopleft").click(function() {
        $("#alerttopleft").fadeToggle(350);
    });
    /** Alert Position Top Right  **/
    $("#showtopright").click(function() {
        $("#alerttopright").fadeToggle(350);
    });
    /** Alert Position Bottom Left  **/
    $("#showbottomleft").click(function() {
        $("#alertbottomleft").fadeToggle(350);
    });
    /** Alert Position Bottom Right  **/
    $("#showbottomright").click(function() {
        $("#alertbottomright").fadeToggle(350);
    });

</script>
<!-- Footable -->
<script src="/static/app/plugins/bower_components/moment/moment.js"></script>
<script src="/static/app/plugins/bower_components/footable/js/footable.min.js"></script>
<!-- Vector map JavaScript -->
<script src="/static/app/plugins/bower_components/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
<script src="/static/app/plugins/bower_components/vectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="/static/app/plugins/bower_components/vectormap/jquery-jvectormap-in-mill.js"></script>
<script src="/static/app/plugins/bower_components/vectormap/jquery-jvectormap-us-aea-en.js"></script>
<!-- chartist chart -->
<script src="/static/app/plugins/bower_components/chartist-js/dist/chartist.min.js"></script>
<script src="/static/app/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
<!-- sparkline chart JavaScript -->
<script src="/static/app/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="/static/app/plugins/bower_components/jquery-sparkline/jquery.charts-sparkline.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/static/app/js/custom.min.js"></script>
<script src="/static/app/js/dashboard3.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/static/app/js/custom.min.js"></script>
<script>
         // Row Toggler
        // -----------------------------------------------------------------
        $('#demo-foo-addrow').footable();


</script>
<!--Style Switcher -->
<script src="/static/app/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
