{% load viewtag %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <h3><span class="fa-fw open-close"><i class="ti-menu hidden-xs"></i><i
                    class="ti-close visible-xs"></i></span>
                <span class="hide-menu">Navigation</span>
            </h3>
        </div>
        <ul class="nav" id="side-menu">
            <li>
                <a href="/" class="waves-effect {{ menu.lv1|is_same_menu:'dashboard' }}">
                    <i class="mdi mdi-av-timer fa-fw"
                       data-icon="v"></i>
                    <span class="hide-menu">
                        Dashboard
                    </span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" class="waves-effect {{ menu.lv1|is_same_menu:'master' }}">
                    <i class="mdi mdi-account-outline fa-fw"
                       data-icon="v"></i>
                    <span class="hide-menu"> Master <span
                            class="fa arrow"></span> </span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="{{ menu.lv2|is_same_menu:'master_user' }}" href="/user">
                            <i class="fa-fw">U</i>
                            <span class="hide-menu">User</span>
                        </a>
                    </li>
                    <li>
                        <a class="{{ menu.lv2|is_same_menu:'master_admin' }}" href="/admin">
                            <i class="fa-fw">A</i>
                            <span
                                    class="hide-menu">Admin</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="waves-effect {{ menu.lv1|is_same_menu:'data' }}">
                    <i class="mdi mdi-account-outline fa-fw"
                       data-icon="v"></i>
                    <span class="hide-menu"> Pengujian <span
                            class="fa arrow"></span> </span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="{{ menu.lv2|is_same_menu:'data_latih' }}" href="/data_latih">
                            <i class="fa-fw">L</i>
                            <span class="hide-menu">Data Latih</span>
                        </a>
                    </li>
                    <li>
                        <a class="{{ menu.lv2|is_same_menu:'data_uji' }}" href="/data_uji">
                            <i class="fa-fw">U</i>
                            <span
                                    class="hide-menu">Data Uji</span>
                        </a>
                    </li>
                    <li>
                        <a class="{{ menu.lv2|is_same_menu:'pengujian' }}" href="/pengujian">
                            <i class="fa-fw">P</i>
                            <span
                                    class="hide-menu">Pengujian</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)" class="waves-effect {{ menu.lv1|is_same_menu:'kelas' }}">
                    <i class="mdi mdi-content-copy fa-fw"
                       data-icon="v"></i>
                    <span class="hide-menu"> Class <span
                            class="fa arrow"></span> </span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="{{ menu.lv2|is_same_menu:'kelas_list' }}" href="/kelas">
                            <i class="fa-fw">LC</i>
                            <span class="hide-menu">List Class</span>
                        </a>
                    </li>
                    <li>
                        <a class="{{ menu.lv2|is_same_menu:'kelas_newclass' }}" href="/newclass">
                            <i class="fa-fw">NC</i>
                            <span class="hide-menu">New Class</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!--<li>-->
                <!--<a href="javascript:void(0)" class="waves-effect {{ menu.lv1|is_same_menu:'server' }}">-->
                    <!--<i class="mdi mdi-settings fa-fw"></i>-->
                    <!--<span-->
                            <!--class="hide-menu">Server</span>-->
                <!--</a>-->
                <!--<ul class="nav nav-second-level">-->
                    <!--<li>-->
                        <!--<a class="{{ menu.lv2|is_same_menu:'server_statistik' }}" href="/statistik">-->
                            <!--<i class="fa-fw">ST</i>-->
                            <!--<span class="hide-menu">Statistik</span>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
        </ul>
    </div>
</div>
